nav,
ul,
address,
.textcard,
.social__link,
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    max-width: 1600px;
}


/* Header */

.nav {
    column-gap: 93px;
}


/* header ul,
header address, */

.nav__list,
.header-contacts {
    column-gap: 50px;
}

.header-centrion {
    padding: 0;
}

.contact__icon {
    margin-right: 10px;
    max-height: 12px;
}


/* Footer */

.footer {
    padding: 60px 0 60px 0;
}

.footer-centrion {
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
}