        * {
            margin: 0;
            padding: 0;
        }
        
        img,
        a {
            display: block;
            max-width: 100%;
            height: auto;
        }
        
        // styles
        * {
            list-style: none;
            text-decoration: none;
            color: unset;
        }
        
        *:visited {
            color: unset;
        }
        
        address {
            font-style: inherit;
        }