body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text);
}

.icon {
    fill: currentColor;
    color: inherit;
}

.social__link {
    background-color: transparent;
    border-radius: 50%;
}

.social__icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


/* header */

.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-headlight);
    border-bottom: 1px solid var(--color-line);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16666667;
    letter-spacing: 0.03em;
    color: var(--color-headlight);
    @media (min-width: $desktop) {
        font-size: 26px;
        line-height: 31px;
    }
}

.logo__accent {
    color: var(--color-accent);
}

.nav__link::after {
    background-color: transparent;
    border-radius: 2px;
}

.nav__link {
    @media screen and (max-width: $tablet) {
        font-size: 40px;
        line-height: 47px;
    }
}

.contact__link {
    &:first-child {
        font-size: 5vw;
        line-height: 1.1666666666666667;
    }
    &:last-child {
        font-size: 7.0833333333vw;
        line-height: 1.17647059;
        @media screen and (max-width: $tablet) {
            color: var(--color-accent);
        }
    }
    @media screen and (min-width: $mobile) {
        &:first-child {
            font-size: 24px;
        }
        &:last-child {
            font-size: 34px;
        }
    }
    @media screen and (min-width: $tablet) {
        &:first-child {
            font-size: 12px;
        }
        &:last-child {
            font-size: 12px;
        }
    }
    @media screen and (min-width: $desktop) {
        &:first-child {
            font-size: 14px;
        }
        &:last-child {
            font-size: 14px;
        }
    }
}

.modal-nav {
    background-color: #fff;
}

.modal-nav__link {
    color: var(--color-accent);
    @media screen and (max-width: $mobile) {
        & {
            font-size: 2.9166666666667vw;
        }
    }
}

.contacts {
    color: var(--color-text);
}

.menu-button {
    background-color: transparent;
}


/* Footer */

.footer {
    background: var(--color-footback);
}

.footer-logo {
    color: var(--color-antiaccent);
}

.footer-contacts__link,
.social__link {
    color: var(--color-antifootback);
}

.footer-contacts__link:first-child {
    color: var(--color-antiaccent);
}

.connect__text,
.spam__title {
    line-height: 1.142857142857142857;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-antiaccent);
}

.social__link--footer {
    background-color: var(--color-foottransper);
}

.social__icon--footer {
    fill: var(--color-antiaccent);
}

.spam__input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    position: relative;
    &::placeholder {
        height: 100%;
        font-size: 16px;
        // line-height: 1.25;
        color: var(--color-antifootback);
    }
}

.spam__button {
    background: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--color-antiaccent);
    &::after {
        background-color: transparent;
        background-image: url(../images/send.svg);
        background-repeat: no-repeat;
    }
}


/* Reactions */

*,
*::after {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*:focus,
*:hover {
    outline: none;
}

a:hover,
a:focus,
li:hover a,
.footer-contacts__link:hover,
.footer-contacts__link:focus,
.activated {
    color: var(--color-accent);
}

button:active {
    background-color: var(--color-button);
}

.menu-button:focus,
.menu-button:hover {
    fill: var(--color-accent);
}


/* End reactions reset */

.logo:focus,
.logo:hover {
    color: rgb(221, 188, 2);
}

.menu-button:hover .menu-icon,
.menu-button:focus .menu-icon,
.menu-button:hover .menu-close-icon,
.menu-button:focus .menu-close-icon {
    fill: var(--color-accent);
}

.menu-button:active {
    background-color: unset;
}

.social__link:hover,
.social__link:focus {
    background-color: var(--color-accent);
}

.nav__item:hover .nav__link::after,
.nav__link:focus::after,
.activated::after {
    background-color: var(--color-accent);
}